<div class="container-fluid">
  <div class="row text-center">
    <div class="col">
      <p class="text-uppercase">Campeonato de Filmes</p>

      <h1>Fase de Seleção</h1>

      <p>
        Selecione {{ maxFilme }} filmes que você deseja que entrem na competição e depois pressione o
        botão Gerar Meu Campeonato para prosseguir.
      </p>

    </div>
  </div>

  <form [formGroup]="formFilme" (ngSubmit)="onSubmit()" *ngIf="formFilme" class="needs-validation">

    <div class="form-row">

      <div class="col-4">
        <p>Selecionados {{ countCheck() }} de {{ maxFilme }}</p>
      </div>

      <div class="col-6">
        <button type="submit" class="btn btn-block btn-info" [disabled]="!enableSubmit()">Gerar Meu Campeonato</button>
      </div>

    </div>

    <div class="form-row">


      <app-indicacao-formarray [formArray]="formFilme.controls.Filmes"></app-indicacao-formarray>

    </div>
  </form>


</div>
